:root {
    --default-background-color: lightgrey;
    --matched-background-color: rgb(53, 194, 53);
}

img{
    visibility: hidden;
}

.flipped img{
    visibility: visible;
}

.square{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-background-color);
}



.square:not(.flipped){
    background: url("./assets/images/fridge.png") no-repeat center;
    background-color: var(--default-background-color);
}

.matched{
    background-color: var(--matched-background-color);
    pointer-events: none;
}